<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body{
            background-color: darkcyan;
        }
    </style>
</head>
<body>
    <h4>СОТРУДНИК</h4>
    <h4>Фото</h4>
    <img src="{{ employee.image.url }}" height="255">
    <hr>
    <h4>{{ employee.name }}</h4><hr>
    <h4>{{ employee.position.title }}</h4><hr>
    
    <h4>{{ employee.email }}</h4><hr>
    <h4>{{ employee.phone }}</h4><hr>
    <h4>{{ employee.stack }}</h4><hr>


</body>
</html>