
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <ul>
        <li><a href="{% url 'index' %}">  ВСЕ СОТРУДНИКИ </a></li>
        <li><a href="{% url 'get_visit_day' %}"> ПОСЕЩЕНИЯ ЗА ДЕНЬ</a></li>
        <li><a href="{% url 'add_visit' %}">Добавить ПОСЕЩЕНИЯ</a></li>
    </ul>
    <form action="{% url 'get_visit_day' %}" method="POST">
        {% csrf_token %}
        <input type="date" name="day" id="day" placeholder="Дата" required>
        <button>ПРОВЕРИТЬ</button>
    </form>

    <h2> {{ day }} </h2>

    <table>
        <thead>
            <th>ДАТА</th>
            <th>Посетил(а)</th>
            <th>ВРЕМЯ ПРИХОДА</th>
            <th>ВРЕМЯ УХОДА</th>
            <th>ПРИЧИНА</th>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <td>{{ visit.date }}</td>
                {% if visit.visited == True %}
                <td>Посетил(а)</td>
                {% else %}
                <td>Отсутствовал(а)</td>
                {% endif %}

                <td>{{ visit.time_start }}</td>
                <td>{{ visit.time_end }}</td>
                <td>{{ visit.reason }}</td>

            </tr>
            {% endfor %}
        </tbody>


    </table>
</body>
</html>